$c-white: #fff;
$c-black: #000;

$c-yellow: #F7DF1E;
$c-blue: #2121AA;
$c-darkblue : #030333;
$c-grey-1: #ccc;
$c-grey-2: #999;
$c-grey-3: #333;
$c-grey-4: #222;

$fw-bold: 700;
$fw-normal: 400;
$fw-light: 300;

$fz-giant: 96px;
$fz-big: 36px;
$fz-medium: 24px;
$fz-avg: 18px;
$fz-small: 14px;


@mixin white-shadow {
    box-shadow: -5px 5px 5px rgba(255, 255, 255, 0.25);
}

@mixin black-shadow {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
}

@mixin rounded {
    border-radius: 10px;
}

@mixin hover-yellow {
    transition: .4s;
    &:hover {
        color: $c-yellow;
    }
}



body {
    font-size: $fz-avg;
    font-family: "Roboto", sans-serif;
    background-color: $c-grey-4;
    color: $c-white;
}

.header {
    background: url("../images/header/header-bg.png") center / cover no-repeat;
    width: 100%;
    height: 100vh;

    .navbar {
        display: flex;
        align-items: center;

        .navbar-nav {
            align-items: center;

            .nav-item {
                margin: 0 15px;
                font-size: $fz-medium;

                .nav-link {
                    color: $c-white;

                    &:hover {
                        @include hover-yellow();
                        }
                    }
                }
        }   
    }
}

.btn, .btn-small {
    padding: 10px 15px;
    font-size: $fz-avg;
    font-weight: $fw-bold;
    color: $c-blue;
    background-color: $c-white;
    border: 2px solid $c-blue;
    border-radius: 5px;;

    transition: .4s;

    &:hover {
        color: $c-white;
        background-color: $c-blue;
    }
}