@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;700&display=swap');

$ff-roboto: 'Roboto', sans-serif;
$ff-roboto-mono: 'Roboto Mono', monospace;

$c-white: #fff;
$c-black: #000;

$c-yellow: #F7DF1E;
$c-blue: #2121AA;
$c-darkblue : #030333;
$c-grey-1: #ccc;
$c-grey-2: #999;
$c-grey-3: #333;
$c-grey-4: #222;

$fw-bold: 700;
$fw-normal: 400;
$fw-light: 300;

$fz-giant: 96px;
$fz-big: 36px;
$fz-medium: 24px;
$fz-avg: 18px;
$fz-small: 14px;


@mixin white-shadow {
    box-shadow: -5px 5px 5px rgba(255, 255, 255, 0.25);
}

@mixin black-shadow {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
}

@mixin rounded {
    border-radius: 10px;
}

@mixin hover-yellow {
    transition: .4s;
    &:hover {
        color: $c-yellow;
    }
}



body {
    font-size: $fz-avg;
    font-family: $ff-roboto;
    background-color: $c-grey-4;
    color: $c-white;
    scroll-behavior: smooth;
}

.header {
    background: url("../images/header/header-bg.png") center / cover no-repeat;
    width: 100%;
    min-height: 100vh;

    .header-wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        align-items: center;

        .navbar-nav {
            align-items: center;

            .nav-item {
                margin: 0 15px;
                font-size: $fz-medium;

                .nav-link {
                    color: $c-white;

                    &:hover {
                        @include hover-yellow();
                        }
                    }
                }
        }   
    }

    .header-content {
        text-shadow: -3px 4px 10px rgba(255, 255, 255, 0.15);

        h1 {
            text-transform: uppercase;
            font-weight: $fw-bold;
            font-size: $fz-giant;
            letter-spacing: 6px;
            line-height: 1;

            span {
                color: $c-yellow;
            }
        }

        .mono {
            font-family: $ff-roboto-mono;
        }

        h2 {
            font-weight: $fw-bold;
            font-size: $fz-big;
            letter-spacing: 2px;
        }

        h4 {
            font-weight: $fw-normal;
            font-size: $fz-medium;
        }
    }

    .learn-more {
        display: inline-block;
        margin: 0 auto 20px;
    }
}

.btn, .btn-small {
    padding: 10px 15px;
    font-size: $fz-avg;
    font-weight: $fw-bold;
    color: $c-blue;
    background-color: $c-white;
    border: 2px solid $c-blue;
    border-radius: 5px;;

    transition: .4s;

    &:hover {
        color: $c-white;
        background-color: $c-blue;
    }
}

.section {
    padding: 150px 0;

    .section-title {
        text-align: center;
        margin-bottom: 100px;
        h2 {
            font-size: $fz-giant;
            font-weight: $fw-bold;
            position: relative;

            &:after {
                content: "";
                display: block;
                width: 170px;
                height: 8px;
                background: $c-yellow;

                position: absolute;
                bottom: -40px;
                text-align: center;
                left: 50%;
                margin-left: -85px;
            }
        }
    }
}

.about-text {
    font-weight: $fw-light;
    font-size: $fz-medium;
    color: $c-grey-1;
    line-height: 1.2;
}


.section-blue {
    min-height: 200px;
    background: $c-blue;
    text-align: center;

    .stats-wrapper {
        display: flex;
        justify-content: space-between;
        min-height: 200px;
        align-items: center;
    }

    .stat-item {
        color: $c-white;
        padding: 25px;

        .stat-number {
            font-size: 72px;
            font-weight: $fw-bold;
        }

        .stat-desc {
            font-size: $fz-medium;
            font-weight: $fw-bold;
            text-transform: uppercase;
        }
    }
}





















@import "_responsive";